.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 250px;
}

.button {
  width: 250px;
  margin: 25px 0 0 0;
}
